# --- Django & Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env
db.sqlite3
media/
staticfiles/

# --- AI Models (Important!) ---
# باش GitHub ما يرفضلكش الـ Push خاطر الملفات كبار
*.pt
*.weights
*.h5

# --- Vercel ---
.vercel